@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --branco: #fff;
    --preto: #000;
    --bg-color1: #323b45;
    --bg-color2: #101623;
    --container-bg-color: #1e1f24;
    --header-color1: #2c2e45;
    --header-color2: #545d70;
    --link-hover-color: #ffae00;
    --banner-shadow-color-1: #000000f4;
    --banner-shadow-color-2: #00000000;
    --box-bg-color: #2b2c44;
    --bar-color1: #787f9a;
    --bar-color2: #ffae00;
    --btn-color1: #449225;
    --btn-color2: #c1ffa8;
}

body {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    background: linear-gradient(
        180deg, 
        var(--bg-color1) 0%, 
        var(--bg-color2) 100%
    );

    width: 100vw;
    height: 100vh;

    color: var(--branco);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

#container {
    background-color: var(--container-bg-color);
    width: 1280px;
    margin: 50px;
    min-height: calc(100vh - 100px);
    flex-grow:1;
    box-shadow: 10px 10px 40px var(--banner-shadow-color-1);
}

header {
    background: linear-gradient(
        90deg, 
        var(--header-color1) 0%, 
        var(--header-color2) 100%
    );
    padding: 20px 40px;
    box-shadow: 0px 4px 10px var(--banner-shadow-color-1);
}

nav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav > img {
    align-self: flex-start;
    margin: 10px 3vww;

}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10vw;
 
}

nav > ul > li {
    text-decoration: none;
    display: inline;
}

a{
    color: var(--branco);
    text-decoration: none;

}

a:hover {
    color: var(--link-hover-color);
}

#banner {
    height: 600px;
    background-image: url("../images/banner.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-shadow {
    height: 100%;
    background: linear-gradient(
        0deg, 
        var(--banner-shadow-color-1) 0%, 
        var(--banner-shadow-color-2) 50%,
        var(--banner-shadow-color-2) 100%
    );
    position: relative;
}

#banner h1 {
    position: relative;
    font-size: 65px;
    top: -160px;
    left: 40px;
    text-transform: uppercase;
}

#Info {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
#sobre, #habilidades, #projetos {
    background-color: var(--box-bg-color);
    padding: 20px;
    border-radius: 10px;
}