@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --branco: #fff;
    --preto: #000;
    --bg-color1: #323b45;
    --bg-color2: #101623;
    --container-bg-color: #1e1f24;
    --header-color1: #2c2e45;
    --header-color2: #545d70;
    --link-hover-color: #ffae00;
    --banner-shadow-color-1: #000000f4;
    --banner-shadow-color-2: #00000000;
    --box-bg-color: #2b2c44;
    --bar-color1: #787f9a;
    --bar-color2: #ffae00;
    --btn-color1: #449225;
    --btn-color2: #c1ffa8;
}

body {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;

    background: linear-gradient(
        180deg, 
        var(--bg-color1) 0%, 
        var(--bg-color2) 100%
    );

    font-family: 'Roboto', sans-serif;
    color: var(--branco);
    letter-spacing: 2px;
    overflow-x: hidden;
}

#container {
    background-color: var(--container-bg-color);
    width: 1280px;
    margin: 50px;
    min-height: calc(100vh - 100px);
    flex-grow:1;
    box-shadow: 10px 10px 40px var(--banner-shadow-color-1);
}

header {
    background: linear-gradient(
        90deg, 
        var(--header-color1) 0%, 
        var(--header-color2) 100%
    );
    padding: 20px 40px;
    box-shadow: 0px 4px 10px var(--banner-shadow-color-1);
}

nav  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

nav > img {
    align-self: flex-start;
    margin: 10px 3vww;

}

nav > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 10vw;
 
}

nav > ul > li {
    text-decoration: none;
    display: inline;
}

a{
    color: var(--branco);
    text-decoration: none;

}

a:hover {
    color: var(--link-hover-color);
}

#banner {
    height: 600px;
    background-image: url("../images/banner.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

#banner-shadow {
    height: 100%;
    background: linear-gradient(
        0deg, 
        var(--banner-shadow-color-1) 0%, 
        var(--banner-shadow-color-2) 50%,
        var(--banner-shadow-color-2) 100%
    );
    position: relative;
}

#banner h1 {
    position: relative;
    font-size: 65px;
    top: -160px;
    left: 40px;
    text-transform: uppercase;
}

#info {
    display: flex;
    justify-content: space-between;
}

#sobre {
    flex: 1;
}

div.title{
    background: linear-gradient(
        90deg, 
        var(--banner-shadow-color-1) 0%, 
        var(--banner-shadow-color-2) 100%,
    );
    font-size: 36px;
    padding: 10px 30px;
    margin: 0 0 20px 0;
}


#sobre p {
    margin: 20px 0;
}

p {
    font-size: 28px;
    font-weight: lighter;    
}

#habilidades {
    margin-top: -180px;
    margin-right: 30px;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    scroll-margin-right: 30px;  
    z-index: 100;
}

#social {
    display:flex
}

#social img{
    width:50px;
    padding: 10px;
}

#social img:hover{
    width:55px;
    transition: width 0.1s;
}

.resumo {
    padding: 20px;
    background-color: var(--box-bg-color);
    border-radius: 10px;
}

h3 {
    margin: 0;
    font-size: 36px;
}

.resumo h3 {
    margin-top:0;
    padding: 0;
}
.resumo a{
    text-orientation: uppercase;
    background-color: var(--btn-color1);
    color: var(--branco);
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
    
}

.resumo a:hover{
    background-color: var(--btn-color2);
    color: var(--btn-color1);
}   

#habilidades > h3 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#habilidades .technologias {
    padding: 20px;
    background-color: var(--box-bg-color);
    border-radius: 10px;
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 20px;
}

.technologias img {
    width: 50px;
    height: 50px;
}

.technologias > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.technologias > div > span {
    font-size: 20px;
    font-weight: bold;
}
.bar {
    height: 20px;
    background-color: var(--bar-color1);
    border-radius: 10px;
}
.bar div{
    height: 20px;
    background-color: var(--bar-color2);
    border-radius: 10px;
}}